:root {
    --card-background: #1D7261;
}

body {
    
    nav {
        width: 100%;
        background-color: #00000077;
        position: fixed!important;
        z-index: 999;
        padding: 8%;
        a {
            
            color: #fefefe!important;
        }
        .search {
            display: none!important;
        }
    }
    header {

        .header {
            background: 
            url("./assets/img/carousel1.jpg")
            no-repeat
            ;
            background-size: 100%;
            
        }
        .card-footer {
            p {
                font-size: 1.2rem;
                line-height: .7;
                font-weight: 400;
            }
            .cownt-down-watch {
                display: inline-block;
                background-color: #faebd733;
                font-size: 2rem;
                font-weight: 700;
            }
            .header-delas {
                font-size: 2.2rem;
                line-height: .9;
                font-weight: 500;
            }
        }
    }
    section > div {
        margin-bottom: 20px;
    }
    .card {
        background-color: var(--card-background);
        border-radius: 0;
    };
    background: #1c0d26;
    color: white;
    .section_title {
        display: flex;
        font-size: 1.1rem;
        border-bottom: 1px solid #F4B13D;
        margin: 1.6em 0;
        gap: 5px;
    }
    #gog-banner {
        margin: 10px 0;
        padding: 10px 8%;
        border-top: 1px solid #F4B13D;
        border-bottom: 1px solid #F4B13D;
    }
    .gog-banner {
        margin: 5%;
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
        padding: 5px 0;
        span.red {
        color:rgb(179, 1, 90)
        }
        .banner-text {

        }
        .new-gog {
            flex-shrink: 0;
            img {
                width: 28px;
            }
        }
    }
    
}




h5 {
    color: rgb(179, 1, 90);

    :first-child {
        font-family: 'Cursive Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-transform:capitalize;
        font-size: 3rem;
        font-weight: 900;
        font-style: italic;
    }
    :nth-child(2) {
        text-transform:uppercase;
        font-size: 7rem;
        font-weight: 700;
        // line-height: .6;
    }
}